.bg-container {
  background-color: #64748b;
  min-height: 100vh;
  background-size: cover;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-heading-container {
  text-align: center;
}
.main-heading {
  color: #334155;
  text-align: center;
  border-bottom: 2px solid #52bbf0; /* Choose your desired underline color and thickness */
  display: inline-block; /* Ensures that the border only spans the width of the text */
  padding-bottom: 12px; /* Adjust as needed to control the distance between text and underline */
}

.places-cards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
}
